.content-wrapper-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: antiquewhite;
    font-size: 10em;
    font-family: 'DotGothic16', sans-serif;
}

// .title {
//     position: absolute;
//     top: 25%;
//     left: 32%;
// }
