.content-wrapper-home {
    text-align: center;
    background-color: black;
    color: antiquewhite;
    font-family: 'DotGothic16', sans-serif;
    .other-text {
        font-size: 3em;
        position: absolute;
        top: 50%;
        left: 40%;        
    }
}

// .title {
//     position: absolute;
//     top: 25%;
//     left: 32%;
// }
